.time{
   font-family: var(--font-montserrat-alternates);
   font-size: 18px;
   font-weight: 500;
   text-align: center;
   padding: 6px 0px;
}

.picker{
   display: flex;
}
.hours, .minutes{
   flex: 1;
   display: flex;
   flex-direction: column;
   max-height: 300px;
   overflow-y: scroll;
   scrollbar-width: none;
   &::-webkit-scrollbar {
      display: none;
   }
}
.item{
   display: flex;
   justify-content: center;
   cursor: pointer;
   transition: 0.3s ease all;
   padding: 2px 0;
   border-radius: var(--sm-border-radius);
   user-select: none;
   &:hover, &.active {
      background-color: rgba(0,0,0, var(--transparent));
   }
}