.analytics {
   width: 450px;
   display: flex;
   flex-direction: column;
   align-items: center;
   box-sizing: border-box;
}
.header {
   text-align: center;
   font-size: 24px;
   font-family: var(--font-montserrat-alternates);
   font-weight: 600;
   padding: 6px 0px 12px 0px;
}
.progress {
   margin: 20px 0px 10px 0px;
   position: relative;
   box-sizing: border-box;
}
.trophy__icon {
   width: 64px;
   height: 64px;
}
.content {
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   padding: 10px;
   width: 100%;
   border-bottom: 1px #fff solid;
}
.text__header {
   font-size: 18px;
   font-weight: 500;
   font-family: var(--font-montserrat-alternates);
   padding-bottom: 5px;
}
.text__header b {
   font-weight: 600;
}
.description {
   font-size: 16px;
   color: #d3d3d3;
   font-family: var(--font-montserrat-alternates);
}
.text__underline {
   padding-top: 5px;
   font-family: var(--font-montserrat-alternates);
   text-decoration: underline;
   font-size: 16px;
   font-weight: 400;
}
.area {
   padding-top: 20px;
   width: 100%;
   height: 300px;
}
.tooltip {
   border-radius: var(--sm-border-radius);
   padding: 6px 10px;
}
.tooltip__label {
   font-family: var(--font-montserrat-alternates);
   font-weight: 500;
   font-size: 18px;
   padding-bottom: 4px;
}
.tooltip__item {
   font-size: 16px;
   span {
      font-weight: 500;
   }
}

@media screen and (max-width: 768px) {
   .header {
      font-size: 22px;
   }
   .analytics {
      width: 400px;
   }
   .progress {
      margin: 15px 0px 5px 0px;
   }
}

@media screen and (max-width: 480px) {
   .analytics {
      width: 95vw;
   }
   .header {
      font-size: 20px;
   }
   .text__header {
      font-size: 16px;
   }
   .description,
   .text__underline,
   .tooltip__label,
   .tooltip__item {
      font-size: 14px;
   }
   .area {
      height: 240px;
   }
   .trophy__icon {
      width: 48px;
      height: 48px;
   }
   .areachart {
      margin-right: 20px !important;
   }
}
@media screen and (max-width: 380px) {
   .header {
      font-size: 18px;
   }
   .area {
      height: 220px;
   }
}
