/* ======================
   Sidebar
====================== */

.sidebar {
   display: flex;
   flex-direction: column;
   gap: 16px;
   overflow: hidden;

   padding: 18px 16px;
   font-family: var(--font-montserrat-alternates);

   border-left: none;
   border-right: none;
   border-radius: 0 var(--full-border-radius) var(--full-border-radius) 0;
   z-index: 2;

   position: absolute;
   top: var(--top);
   bottom: var(--bottom);
   width: var(--sidebar-width);
   box-sizing: border-box;
}

.first {
   width: 0px !important;
   height: 0px !important;
   background: none !important;
   border: none !important;
   z-index: 2 !important;
   overflow: visible !important;
   left: 60px !important;
}

.window {
   width: 28px;
   height: 28px;
   position: absolute;
   right: 28px;
   cursor: pointer;
   transition: 0.15s ease all;
   z-index: 100;
}

/* ======================
   Animations
====================== */

.sidebar-fade-out {
   animation: sidebarOut 0.5s ease forwards;
   transition: 0.3s ease all;
}

.sidebar-fade-out::before {
   animation: sidebarBlurOut 0.5s ease forwards;
}

.sidebar-fade-in {
   animation: sidebarIn 0.5s ease forwards;
}

@media screen and (max-width: 380px) {
   .sidebar-fade-out {
      animation: sidebarOutMobile 0.5s ease forwards;
   }
}

@keyframes sidebarBlurOut {
   0% {
      backdrop-filter: blur(var(--blur));
   }
   100% {
      backdrop-filter: blur(0);
   }
}

@keyframes sidebarOut {
   0% {
      height: calc(100vh - 80px);
   }
   40% {
      left: 0px;
   }
   100% {
      width: 0px;
      height: 0px;
      background: none;
      border: none;
      z-index: 2;
      overflow: visible;
      left: 60px;
   }
}

@keyframes sidebarOutMobile {
   0% {
      height: calc(100vh - 80px);
   }
   40% {
      left: 0px;
   }
   100% {
      width: 0px;
      height: 0px;
      background: none;
      border: none;
      z-index: 2;
      overflow: visible;
      left: 36px;
   }
}

@keyframes sidebarIn {
   from {
      height: 0px;
      width: 0px;
   }
   to {
      left: 0px;
      width: var(--sidebar-width);
      height: calc(100vh - 80px);
   }
}

/* ======================
   Navigation
====================== */

.nav {
   display: flex;
   flex-direction: column;
   gap: 28px;
   margin: 12px;
}

.section {
   display: flex;
   flex-direction: column;
}

.header {
   font-size: 18px;
   font-weight: 600;
   margin-bottom: 8px;
}

/* ======================
   Link
====================== */

.link {
   display: flex;
   align-items: center;
   text-decoration: none;
   gap: 12px;
   transition: 0.3s ease background-color;
   padding: 8px 12px;
   border-radius: var(--sm-border-radius);
   text-align: start;
   user-select: none;
}

.link:hover {
   background-color: rgba(255, 255, 255, 0.1);
}

.icon {
   width: 22px;
   height: 22px;
}

.title {
   font-size: 16px;
   font-weight: 500;
}

.counter {
   margin-left: auto;
   font-size: 14px;
   font-weight: 400;
   color: #d4d4d4;
}

/* ======================
   Media Queries
====================== */

@media screen and (max-width: 1600px) {
   .nav {
      margin: 10px;
   }
   .link {
      gap: 10px;
   }
}

@media screen and (max-width: 1024px) {
   .nav {
      margin: 8px 8px 8px 0px;
   }

   .link {
      padding: 6px 10px;
      gap: 8px;
   }

   .title {
      font-size: 14px;
   }

   .icon {
      width: 20px;
      height: 20px;
   }

   .window {
      width: 24px;
      height: 24px;
      right: 24px;
   }
}

@media screen and (max-width: 768px) {
   .sidebar {
      border-radius: 0;
   }

   .nav {
      justify-content: center;
      margin: 12px 0px;
   }

   .header {
      font-size: 20px;
   }

   .link {
      gap: 10px;
   }

   .title {
      font-size: 16px;
   }

   .icon {
      width: 22px;
      height: 22px;
   }
}

@media screen and (max-width: 480px) {
   .nav {
      margin: 10px 0px;
   }

   .header {
      font-size: 18px;
   }

   .title {
      font-size: 14px;
   }

   .icon {
      width: 20px;
      height: 20px;
   }
}

@media screen and (max-width: 320px) {
   .nav {
      margin: 8px 0px;
   }

   .header {
      font-size: 16px;
   }

   .link {
      gap: 8px;
      padding: 6px;
   }

   .icon {
      width: 18px;
      height: 18px;
   }
}
