.dropdown__button {
   box-sizing: border-box;
   background-color: rgba(0, 0, 0, var(--transparent));
   padding: 8px 14px;
   border-radius: var(--md-border-radius);
   font-family: var(--font-montserrat-alternates);
   font-size: 16px;
}

.dropdown__text {
   display: flex;
   gap: 8px;
   align-items: center;
}

.dropdown__text svg {
   width: 20px;
   height: 20px;
}

.dropdown__content {
   background-color: rgba(0, 0, 0, var(--transparent));
   border: none;
}

.dropdown__content,
.dropdown__button {
   width: 300px;
}

.dropdown__chevron {
   transition: 0.3s ease transform;
   width: 18px;
   height: 18px;
   transform: rotate(0deg);
   margin-left: auto;
}

.dropdown__chevron.active {
   transform: rotate(180deg);
}

@media screen and (max-width: 768px) {
   .dropdown__content,
   .dropdown__button {
      width: 240px;
   }
}

@media screen and (max-width: 380px) {
   .dropdown__content,
   .dropdown__button {
      width: 220px;
   }
}

@media screen and (max-width: 320px) {
   .dropdown__content,
   .dropdown__button {
      width: 200px;
   }
}
