.list {
   display: flex;
   flex-direction: column;
   gap: 12px;
   margin-top: 18px;
}

.add__wrapper {
   margin-top: 8px;
   display: flex;
   justify-content: center;
   font-family: var(--font-montserrat-alternates);
   font-size: 16px;
   font-weight: 400;
}

.add {
   display: flex;
   align-items: center;
   text-align: center;
   gap: 6px;
   cursor: pointer;
}

.add .icon {
   width: 20px;
   height: 20px;
}
