.tabs{
    display: flex;
    gap: 12px;
    padding: 6px 8px;
    border-radius: var(--hg-border-radius);
    width: fit-content;
    align-self: center;
}
.tab{
    color: #fff;
    // border-radius: var(--md-border-radius);
    border-radius: 100px;
    font-size: 16px;
    font-family: var(--font-montserrat-alternates);
    font-weight: 500;
    transition: 0.3s ease all;
    padding: 6px 8px;
    cursor: pointer;
    user-select: none;
    &.active {
        background-color: #fff;
        color: #000
    }
}
