.button{
    border-radius: var(--sm-border-radius);
    padding: 6px 8px;
    cursor: pointer;
    transition: 0.3s ease all;
    user-select: none;
    &:hover{
        background-color: rgba(255,255,255, calc(var(--transparent) + 0.1));
    }
    width: fit-content;
}
.photo__header{
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 500;
    font-family: var(--font-montserrat-alternates);
}

.photo__flex {
    display: flex;
    gap: 16px;
}

.photo__image{
    width: 64px;
    height: 64px;
    margin: auto 0;
}
.photo__content{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.photo__buttons{
    display: flex;
    gap: 8px;
}
.photo__text{
    margin-top: 4px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    p {
        color: #D4D4D4;
        font-size: 14px;
        font-family: var(--font-montserrat-alternates);
    }
}

.header {
    font-size: 16px;
    font-weight: 500;
    font-family: var(--font-montserrat-alternates);
}
.block{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    grid-auto-flow: dense;
    grid-gap: 20px;
    padding: 10px 0px;
}

.input{
    background-color: rgba(0,0,0, var(--transparent));
    width: 230px;
    font-size: 16px;
    font-weight: 500;
    font-family: var(--font-montserrat-alternates);
    padding: 8px 12px;
    border-radius: var(--md-border-radius)
}

.paragraph{
    font-size: 14px;
    color: #D4D4D4;
    max-width: 80%;
}

.image{
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: var(--sm-border-radius);
}

.add{
    width: 100%;
    height: 100%;
    border-radius: var(--sm-border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.add__image{
    width: 48px;
    height: 48px;
}