.today{
    padding: 0px 30px;
}

.list{
    width: 100%;
}
@media screen and (max-width: 768px){
    .today{
        padding: 0px 20px;
    }
}
@media screen and (max-width: 380px){
    .today{
        padding: 0px 10px;
    }
}