.profile__button {
   display: flex;
   align-items: center;
   cursor: pointer;
   gap: 12px;
}

.profile__button:hover .chevron {
   stroke: #fff;
}

.logo {
   width: 26px;
   height: 26px;
   flex-shrink: 0;
}

.name {
   font-size: 16px;
   font-weight: 500;
   user-select: none;
   font-family: var(--font-montserrat-alternates);
}

.chevron {
   width: 16px;
   height: 16px;
   stroke: #d4d4d4;
   transition:
      stroke 0.15s ease,
      transform 0.3s ease;
}

.chevron.rotated {
   transform: rotate(180deg);
}

.profile__content {
   width: 200px !important;
   padding: 8px 6px;
}

.nickname {
   padding-left: 8px;
   font-size: 16px;
   font-weight: 500;
   font-family: var(--font-montserrat-alternates);
}

.counter {
   padding-left: 8px;
   font-size: 14px;
   font-weight: 400;
   color: #d1d1d1;
   margin: 1px 0px 12px 0px;
}

.link {
   font-size: 16px;
   font-family: var(--font-montserrat-alternates);
}

@media screen and (max-width: 1600px) {
   .profile__button {
      gap: 8px;
   }

   .logo {
      width: 24px;
      height: 24px;
   }

   .chevron {
      width: 14px;
      height: 14px;
   }
}

@media screen and (max-width: 1024px) {
   .logo {
      width: 22px;
      height: 22px;
   }

   .chevron {
      width: 12px;
      height: 12px;
   }
}

@media screen and (max-width: 768px) {
   .profile__button {
      margin-left: 4px;
      gap: 10px;
   }

   .logo {
      width: 24px;
      height: 24px;
   }

   .chevron {
      width: 14px;
      height: 14px;
   }

   .profile__content {
      width: 170px !important;
   }

   .link {
      font-size: 14px;
   }

   .nickname,
   .counter {
      padding-left: 6px;
   }

   .counter {
      margin: 1px 0px 8px 0px;
   }
}

@media screen and (max-width: 320px) {
   .logo {
      width: 22px;
      height: 22px;
   }
}

@media screen and (max-width: 260px) {
   .profile__button {
      gap: 8px;
   }

   .logo {
      width: 18px;
      height: 18px;
   }
}
