.modal{
    position: fixed;
    border-radius: var(--md-border-radius);
    padding: 8px 10px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(var(--blur));
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.item {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    gap: 8px;
    padding: 6px 8px;
    transition: 0.2s ease all;
    cursor: pointer;
    border-radius: var(--sm-border-radius);
    text-decoration: none;
    user-select: none;

    &:hover {
        background-color: rgba(255, 255, 255, 0.07);
    }

    .icon{
        width: 22px;
        height: 22px;
        flex-shrink: 0;
    }
}

.closemark{
    width: 32px;
    height: 32px;
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .item{
        padding: 6px;
        gap: 6px;
        font-size: 16px;
        .icon{
            width: 20px;
            height: 20px;
        }
    }
}